<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eokoe.sagui">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application
        android:name=".SaguiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}"/>

        <activity
            android:name=".features.splash.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.enterprises.EnterprisesActivity"
            android:label="@string/title_activity_enterprises"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.enterprises.filter.EnterprisesFilterActivity"
            android:label="@string/title_activity_enterprises_filter"/>

        <activity
            android:name=".features.categories.CategoriesActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.surveys.list.SurveyListActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.surveys.survey.SurveyActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".features.surveys.survey.note.NoteActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".features.complaints.ComplaintsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.complaints.report.ReportActivity"
            android:label="@string/title_activity_report"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".features.complaints.report.pin.PinActivity"
            android:label="@string/title_activity_pin"/>

        <activity
            android:name=".features.complaints.details.ComplaintDetailsActivity"
            android:label="@string/title_activity_complaint_details"/>

        <activity
            android:name=".features.asset.ShowAssetActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".features.notifications.NotificationsActivity"
            android:label="@string/title_activity_notifications"/>

        <activity
            android:name=".features.pendencies.PendenciesActivity"
            android:label="@string/title_activity_pendencies"/>

        <activity
            android:name=".features.help.HelpActivity"
            android:label="@string/title_activity_help"/>

        <activity
            android:name=".features.help.faq.FaqActivity"
            android:label="@string/title_activity_faq"/>

        <!-- Services -->
        <service
            android:name=".services.FetchAddressService"
            android:exported="false"/>

        <service android:name=".services.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Job scheduler -->
        <service
            android:name=".services.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".services.upload.UploadFilesJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- Alarms -->
        <receiver android:name=".receivers.UploadFilesRetryAlarm"/>

        <!-- File provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${filesAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>
    </application>

</manifest>